<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Prijava</servlet-name>
        <servlet-class>servleti.Prijava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KreirajKorisnika</servlet-name>
        <servlet-class>servleti.KreirajKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminKorisnici</servlet-name>
        <servlet-class>servleti.AdminKorisnici</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPromjeniKorisnika</servlet-name>
        <servlet-class>servleti.AdminPromjeniKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromjeniKorisnika</servlet-name>
        <servlet-class>servleti.PromjeniKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlokirajKorisnika</servlet-name>
        <servlet-class>servleti.BlokirajKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PorukeKorisnika</servlet-name>
        <servlet-class>servleti.PorukeKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcitajPoruku</servlet-name>
        <servlet-class>servleti.ProcitajPoruku</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PosaljiPoruku</servlet-name>
        <servlet-class>servleti.PosaljiPoruku</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrisanjePoruka</servlet-name>
        <servlet-class>servleti.BrisanjePoruka</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KorisnikPocetna</servlet-name>
        <servlet-class>servleti.KorisnikPocetna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KlijentMojeNekretnine1</servlet-name>
        <servlet-class>servleti.KlijentMojeNekretnine1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet2</servlet-name>
        <servlet-class>servleti.FileUploadServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajNekretninu</servlet-name>
        <servlet-class>servleti.DodajNekretninu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KlijentPromjeni</servlet-name>
        <servlet-class>servleti.KlijentPromjeni</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromjeniNekretninu</servlet-name>
        <servlet-class>servleti.PromjeniNekretninu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodatneInfo1</servlet-name>
        <servlet-class>servleti.DodatneInfo1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet3</servlet-name>
        <servlet-class>servleti.FileUploadServlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajSliku</servlet-name>
        <servlet-class>servleti.DodajSliku</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObrisiSliku</servlet-name>
        <servlet-class>servleti.ObrisiSliku</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromjeniProfilnu</servlet-name>
        <servlet-class>servleti.PromjeniProfilnu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PretraziNekretnineP</servlet-name>
        <servlet-class>servleti.PretraziNekretnineP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PretraziNekretnineR</servlet-name>
        <servlet-class>servleti.PretraziNekretnineR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PretraziNekretnineS</servlet-name>
        <servlet-class>servleti.PretraziNekretnineS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostaviPitanje</servlet-name>
        <servlet-class>servleti.PostaviPitanje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PosaljiRezervaciju</servlet-name>
        <servlet-class>servleti.PosaljiRezervaciju</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KorisnikRezervacije</servlet-name>
        <servlet-class>servleti.KorisnikRezervacije</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KorisnikMojiFavoriti</servlet-name>
        <servlet-class>servleti.KorisnikMojiFavoriti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PisiRecenziju</servlet-name>
        <servlet-class>servleti.PisiRecenziju</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recenzije</servlet-name>
        <servlet-class>servleti.Recenzije</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajUFavorite</servlet-name>
        <servlet-class>servleti.DodajUFavorite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenadzerNoveNekretnine</servlet-name>
        <servlet-class>servleti.MenadzerNoveNekretnine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OdobriNekretninu</servlet-name>
        <servlet-class>servleti.OdobriNekretninu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenadzerSveNekretnine</servlet-name>
        <servlet-class>servleti.MenadzerSveNekretnine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenadzerPromjeni</servlet-name>
        <servlet-class>servleti.MenadzerPromjeni</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromjeniNekretninuM</servlet-name>
        <servlet-class>servleti.PromjeniNekretninuM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajOpis</servlet-name>
        <servlet-class>servleti.DodajOpis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenadzerRezervacijeLista</servlet-name>
        <servlet-class>servleti.MenadzerRezervacijeLista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObradiRezervaciju</servlet-name>
        <servlet-class>servleti.ObradiRezervaciju</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenadzerIstaknuti</servlet-name>
        <servlet-class>servleti.MenadzerIstaknuti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenadzerNajgledanije</servlet-name>
        <servlet-class>servleti.MenadzerNajgledanije</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenadzerPretrazi</servlet-name>
        <servlet-class>servleti.MenadzerPretrazi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenadzerOmiljene</servlet-name>
        <servlet-class>servleti.MenadzerOmiljene</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IstakniOglas</servlet-name>
        <servlet-class>servleti.IstakniOglas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registracija</servlet-name>
        <servlet-class>servleti.Registracija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KorisniciSlike</servlet-name>
        <servlet-class>servleti.KorisniciSlike</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Prijava</servlet-name>
        <url-pattern>/Prijava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KreirajKorisnika</servlet-name>
        <url-pattern>/KreirajKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminKorisnici</servlet-name>
        <url-pattern>/AdminKorisnici</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPromjeniKorisnika</servlet-name>
        <url-pattern>/AdminPromjeniKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromjeniKorisnika</servlet-name>
        <url-pattern>/PromjeniKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlokirajKorisnika</servlet-name>
        <url-pattern>/BlokirajKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PorukeKorisnika</servlet-name>
        <url-pattern>/PorukeKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcitajPoruku</servlet-name>
        <url-pattern>/ProcitajPoruku</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PosaljiPoruku</servlet-name>
        <url-pattern>/PosaljiPoruku</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrisanjePoruka</servlet-name>
        <url-pattern>/BrisanjePoruka</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KorisnikPocetna</servlet-name>
        <url-pattern>/KorisnikPocetna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KlijentMojeNekretnine1</servlet-name>
        <url-pattern>/KlijentMojeNekretnine1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet2</servlet-name>
        <url-pattern>/FileUploadServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajNekretninu</servlet-name>
        <url-pattern>/DodajNekretninu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KlijentPromjeni</servlet-name>
        <url-pattern>/KlijentPromjeni</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromjeniNekretninu</servlet-name>
        <url-pattern>/PromjeniNekretninu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodatneInfo1</servlet-name>
        <url-pattern>/DodatneInfo1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet3</servlet-name>
        <url-pattern>/FileUploadServlet3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajSliku</servlet-name>
        <url-pattern>/DodajSliku</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObrisiSliku</servlet-name>
        <url-pattern>/ObrisiSliku</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromjeniProfilnu</servlet-name>
        <url-pattern>/PromjeniProfilnu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PretraziNekretnineP</servlet-name>
        <url-pattern>/PretraziNekretnineP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PretraziNekretnineR</servlet-name>
        <url-pattern>/PretraziNekretnineR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PretraziNekretnineS</servlet-name>
        <url-pattern>/PretraziNekretnineS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostaviPitanje</servlet-name>
        <url-pattern>/PostaviPitanje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PosaljiRezervaciju</servlet-name>
        <url-pattern>/PosaljiRezervaciju</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KorisnikRezervacije</servlet-name>
        <url-pattern>/KorisnikRezervacije</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KorisnikMojiFavoriti</servlet-name>
        <url-pattern>/KorisnikMojiFavoriti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PisiRecenziju</servlet-name>
        <url-pattern>/PisiRecenziju</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recenzije</servlet-name>
        <url-pattern>/Recenzije</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajUFavorite</servlet-name>
        <url-pattern>/DodajUFavorite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenadzerNoveNekretnine</servlet-name>
        <url-pattern>/MenadzerNoveNekretnine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OdobriNekretninu</servlet-name>
        <url-pattern>/OdobriNekretninu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenadzerSveNekretnine</servlet-name>
        <url-pattern>/MenadzerSveNekretnine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenadzerPromjeni</servlet-name>
        <url-pattern>/MenadzerPromjeni</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromjeniNekretninuM</servlet-name>
        <url-pattern>/PromjeniNekretninuM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajOpis</servlet-name>
        <url-pattern>/DodajOpis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenadzerRezervacijeLista</servlet-name>
        <url-pattern>/MenadzerRezervacijeLista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObradiRezervaciju</servlet-name>
        <url-pattern>/ObradiRezervaciju</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenadzerIstaknuti</servlet-name>
        <url-pattern>/MenadzerIstaknuti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenadzerNajgledanije</servlet-name>
        <url-pattern>/MenadzerNajgledanije</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenadzerPretrazi</servlet-name>
        <url-pattern>/MenadzerPretrazi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenadzerOmiljene</servlet-name>
        <url-pattern>/MenadzerOmiljene</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IstakniOglas</servlet-name>
        <url-pattern>/IstakniOglas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registracija</servlet-name>
        <url-pattern>/Registracija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KorisniciSlike</servlet-name>
        <url-pattern>/KorisniciSlike</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
